<script type="text/html" data-template-name="tasks-page">
  {{view JUI.Button label="Log Out"
    target="HttpCron.User" action="logout"}}
  {{view JUI.Button label="Add Task"
    target="HttpCron.NewTask" action="toggle"
    isVisibleBinding="HttpCron.NewTask.isInvisible"}}
  {{#view classNames="new-task" contentBinding="HttpCron.NewTask"
    isVisibleBinding="HttpCron.NewTask.isVisible" toggleMethod="slideToggle"}}
    <div class="fields">
      {{view SC.TextField valueBinding="content.name" placeholder="Name..."}}
      {{view SC.TextField valueBinding="content.cron" placeholder="Cron line..."}}
      {{view SC.TextField type="url" valueBinding="content.url" placeholder="URL..."}}
      {{view SC.Checkbox title="Enabled" valueBinding="content.enabled"}}
    </div>
    <div class="buttons">
      {{view JUI.Button label="Cancel" targetBinding="content" action="toggle"}}
      {{view JUI.Button label="Save" targetBinding="content" action="save"}}
    </div>
  {{/view}}
  {{#collection HttpCron.TasksCollection}}
    {{#view classNames="show-task" isVisibleBinding="content.isNotEditing" contentBinding="content"}}
      <div class="content">
        {{content.name}}<br/>
        <em>{{content.cron}}</em><br/>
        <strong>http://</strong>{{content.cleanUrl}}
      </div>
      {{view JUI.Button label="Destroy" targetBinding="content" action="destroy"}}
      {{view JUI.Button label="Edit" targetBinding="content" action="edit"}}
      {{view JUI.Button label="Logs" targetBinding="content" action="logs"}}
    {{/view}}
    {{#view classNames="edit-task" contentBinding="content"
      isVisibleBinding="content.isEditing" nestedContentBinding="content.nestedContent"}}
      <div class="fields">
        {{view SC.TextField valueBinding="nestedContent.name" placeholder="Name..."}}
        {{view SC.TextField valueBinding="nestedContent.cron" placeholder="Cron line..."}}
        {{view SC.TextField type="url" valueBinding="nestedContent.url" placeholder="URL..."}}
        {{view SC.Checkbox title="Enabled" valueBinding="nestedContent.enabled"}}
      </div>
      <div class="buttons">
        {{view JUI.Button label="Update" targetBinding="content" action="save"}}
        {{view JUI.Button label="Cancel" targetBinding="content" action="cancel"}}
      </div>
    {{/view}}
  {{else}}
    {{#if parentView.content.isError}}
      Error : {{parentView.content.errorValue}}
    {{else}}
      No Tasks
    {{/if}}
  {{/collection}}
</script>

<script type="text/html" data-template-name="executions-page">
  <h1>{{title}}</h1>
  {{view JUI.Button label="Back" target="HttpCron.TasksView" action="append"}}
  {{#collection HttpCron.ExecutionsCollection}}
    {{content.status}}<br/>
    {{content.run_at}}<br/>
    {{content.duration}}
  {{else}}
    Not executed yiet...
  {{/collection}}
</script>

<script type="text/html" data-template-name="login-page">
  <div>
    {{view HttpCron.LoginTextField
      valueBinding="content.username"
      placeholder="Username..."}}
  </div>
  <div>
    {{view HttpCron.LoginTextField
      type="password"
      valueBinding="content.password"
      placeholder="Password..."}}
  </div>
  <div>
    {{view JUI.Button label="LogIn" target="HttpCron.User" action="login"}}
  </div>
</script>
