<script type="text/html" data-template-name="tasks-view">
  {{#unless HttpCron.NewTask.isVisible}}
    {{view JUI.Button label="Add Task" target="HttpCron.NewTask" action="toggle"}}
  {{/unless}}
  {{view JUI.Button label="Log Out" target="HttpCron.User" action="logout"}}
  {{#view SC.ControlledView
    isVisible=false controller="HttpCron.NewTask" elementId="new-task" toggleMethod="slideToggle"}}
    <div>
      {{view SC.TextField valueBinding="parentView.controller.name" placeholder="Name..."}}
    </div>
    <div>
      {{view SC.TextField valueBinding="parentView.controller.cron" placeholder="Cron line..."}}
    </div>
    <div>
      {{view SC.TextField type="url" valueBinding="parentView.controller.url" placeholder="URL..."}}
    </div>
    <div>
      {{view JUI.Button label="Cancel" target="HttpCron.NewTask" action="toggle"}}
      {{view JUI.Button label="Save" target="HttpCron.NewTask" action="save"}}
    </div>
  {{/view}}
  {{#collection tagName="ul" contentBinding="HttpCron.TasksList"}}
    {{content.name}} - {{content.url}}
    {{view JUI.Button label="Destroy" target="parentView.content" action="destroy"}}
  {{else}}
    {{#if parentView.content.isError}}
      Error
    {{else}}
      No Tasks
    {{/if}}
  {{/collection}}
</script>

<script type="text/html" data-template-name="login-view">
  <div>
    {{view SC.TextField
      valueBinding="parentView.controller.username"
      placeholder="Username..."
      attributeBindings="disabled"
      disabledBinding="parentView.controller.isLoggingIn"}}
  </div>
  <div>
    {{view SC.TextField
      type="password"
      valueBinding="parentView.controller.password"
      placeholder="Password..."
      attributeBindings="disabled"
      disabledBinding="parentView.controller.isLoggingIn"}}
  </div>
  <div>
    {{view JUI.Button label="LogIn" target="HttpCron.User" action="login"}}
  </div>
</script>
