<script type="text/html" data-template-name="tasks-page">
  {{view JUI.Button label="Log Out"
    target="HttpCron.User" action="logout"}}
  {{view JUI.Button label="Add Task"
    target="HttpCron.NewTask" action="toggle"
    isVisibleBinding="HttpCron.NewTask.isInvisible"}}

  {{view HttpCron.PreviousButton target="HttpCron.TasksList"}}
  {{view HttpCron.NextButton target="HttpCron.TasksList"}}

  {{#view classNames="new-task" contentBinding="HttpCron.NewTask"
    isVisibleBinding="HttpCron.NewTask.isVisible" toggleMethod="slideToggle"}}
    <div class="fields">
      {{view SC.TextField valueBinding="content.name" placeholder="Name..."}}
      {{view SC.TextField valueBinding="content.cron" placeholder="Cron line..."}}
      {{view SC.TextField type="url" valueBinding="content.url" placeholder="URL..."}}
      {{view SC.Checkbox title="Enabled" valueBinding="content.enabled"}}
    </div>
    <div class="buttons">
      {{view JUI.Button label="Cancel" targetBinding="content" action="toggle"}}
      {{view JUI.Button label="Save" targetBinding="content" action="save"}}
    </div>
  {{/view}}

  {{#collection HttpCron.TasksCollection}}
    {{#view classNames="show-task" isVisibleBinding="content.isNotEditing" contentBinding="content"}}
      <div class="content">
        {{content.name}}<br/>
        <em>{{content.cron}}</em><br/>
        <strong>http://</strong>{{content.cleanUrl}}
      </div>
      {{view JUI.Button label="Destroy" targetBinding="content" action="destroy"}}
      {{view JUI.Button label="Edit" targetBinding="content" action="edit"}}
      {{view JUI.Button label="Logs" targetBinding="content" action="logs"}}
    {{/view}}
    {{#view classNames="edit-task" targetBinding="content"
      isVisibleBinding="content.isEditing" contentBinding="content.nested"}}
      <div class="fields">
        {{view SC.TextField valueBinding="content.name" placeholder="Name..."}}
        {{view SC.TextField valueBinding="content.cron" placeholder="Cron line..."}}
        {{view SC.TextField type="url" valueBinding="content.url" placeholder="URL..."}}
        {{view SC.Checkbox title="Enabled" valueBinding="content.enabled"}}
      </div>
      <div class="buttons">
        {{view JUI.Button label="Update" targetBinding="target" action="save"}}
        {{view JUI.Button label="Cancel" targetBinding="target" action="cancel"}}
      </div>
    {{/view}}
  {{else}}
    {{#if HttpCron.TasksList.isLoading}}
      Loading...
      {{view JUI.Throbber}}
    {{else}}
      No Tasks
    {{/if}}
  {{/collection}}
</script>

<script type="text/html" data-template-name="executions-page">
  <h1>{{title}}</h1>
  {{view JUI.Button label="Back" target="HttpCron.TasksView" action="append"}}
  {{view HttpCron.PreviousButton target="HttpCron.ExecutionsList"}}
  {{view HttpCron.NextButton target="HttpCron.ExecutionsList"}}

  {{#collection HttpCron.ExecutionsCollection}}
    {{content.status}}<br/>
    {{content.run_at}}<br/>
    {{content.duration}}
  {{else}}
    Not executed yiet...
  {{/collection}}
</script>

<script type="text/html" data-template-name="login-page">
  <div>
    {{view HttpCron.LoginTextField
      valueBinding="content.username"
      placeholder="Username..."}}
  </div>
  <div>
    {{view HttpCron.LoginTextField
      type="password"
      valueBinding="content.password"
      placeholder="Password..."}}
  </div>
  <div>
    {{view JUI.Button label="LogIn" target="HttpCron.User" action="login"}}
  </div>
</script>
