doctype html
html
  head
    title
      |HTTP Cron
    == js :application
    == css :application
    erb:

      <script type="text/x-handlebars" data-template-name="executions">
        <h1>{{title}}</h1>
        {{view UI.Button title="Back" target="HC.TasksPaneView" action="show"}}

        <div class="pagination">
          {{view SB.PreviousButton target="HC.ExecutionsList"}}
          {{view SB.NextButton target="HC.ExecutionsList"}}
        </div>

        {{#collection HC.ExecutionsCollection}}
          <p><strong>Status :</strong> {{content.status}}</p>
          <p><strong>Start at :</strong> {{content.start_at}}</p>
          <p><strong>Duration :</strong> {{content.duration}}</p>
          <p><strong>Response :</strong></p>
          <blockquote>
            {{content.response}}
          </blockquote>
        {{else}}
          Not executed yet...
        {{/collection}}
      </script>


      <script type="text/x-handlebars" data-template-name="login">
        <div>
          {{view HC.LoginTextField
              valueBinding="content.username"
              placeholder="Username..."}}
        </div>
        <div>
          {{view HC.LoginTextField
              type="password"
              valueBinding="content.password"
              placeholder="Password..."}}
        </div>
        <div>
          {{view SC.Button title="LogIn" target="HC.CurrentUser" action="login"}}
        </div>
      </script>


      <script type="text/x-handlebars" data-template-name="tasks">
        {{view UI.Button title="Log Out"
          target="HC.CurrentUser" action="logout"}}
        {{view UI.Button title="Add Task"
          target="HC.NewTask" action="toggle"
          isVisibleBinding="HC.NewTask.isInvisible"}}
        {{view UI.Button title="Manage Users" target="HC.UsersPaneView" action="show"}}

        Sort: {{view UI.Select contentBinding="HC.tasksOrderBy" valueBinding="HC.TasksList.orderBy"}}
        Order: {{view UI.Select contentBinding="HC.tasksInOrder" valueBinding="HC.TasksList.order"}}
        
        <div class="pagination">
          {{view SB.PreviousButton target="HC.TasksList"}}
          {{view SB.NextButton target="HC.TasksList"}}
        </div>
        
        {{#view HC.NewRecordView contentBinding="HC.NewTask"}}
          <div class="fields">
            {{#view SC.View isVisibleBinding="content.isError" messageBinding="content.errorMessage"}}
              <div class="error">{{message}}</div>
            {{/view}}
            {{view HC.TextField valueBinding="content.name" title="Name..."}}
            {{view HC.TextField valueBinding="content.cron" title="Cron line..."}}
            {{view HC.TextField type="url" valueBinding="content.url" title="URL..."}}
            {{view HC.Checkbox title="Enabled" valueBinding="content.enabled"}}
          </div>
          <div class="buttons">
            {{view UI.Button title="Cancel" targetBinding="content" action="toggle"}}
            {{view UI.Button title="Save" targetBinding="content" action="save"}}
          </div>
        {{/view}}
        
        {{#collection HC.TasksCollection}}
          {{#view HC.RecordView contentBinding="content"}}
            <div class="content">
              {{content.name}}<br/>
              <em>{{content.cron}}</em><br/>
              http://<strong>{{content.formattedUrl}}</strong>
              <p>Next Execution: {{content.formattedNextExecution}}</p>
              <p>Created At: {{content.formattedCreatedAt}}</p>
              <p>Updated At: {{content.formattedUpdatedAt}}</p>
            </div>
            {{view UI.Button title="Destroy" targetBinding="content" action="destroy"}}
            {{view UI.Button title="Edit" targetBinding="content" action="toggle"}}
            {{view UI.Button title="Logs" targetBinding="content" action="logs"}}
          {{/view}}
          {{#view classNames="hc-edit-record" isVisibleBinding="content.isEditing" contentBinding="content"}}
            <div class="fields">
              {{#view SC.View isVisibleBinding="content.isError" messageBinding="content.errorMessage"}}
                <div class="error">{{message}}</div>
              {{/view}}
              {{view HC.TextField valueBinding="content.name" title="Name..."}}
              {{view HC.TextField valueBinding="content.cron" title="Cron line..."}}
              {{view HC.TextField type="url" valueBinding="content.formattedUrl" title="URL..."}}
              {{view HC.Checkbox title="Enabled" valueBinding="content.enabled"}}
            </div>
            <div class="buttons">
              {{view UI.Button title="Update" targetBinding="content" action="update"}}
              {{view UI.Button title="Cancel" targetBinding="content" action="cancel"}}
            </div>
          {{/view}}
        {{else}}
          {{#if HC.TasksList.isLoading}}
            Loading...
          {{else}}
            No Tasks
          {{/if}}
        {{/collection}}
      </script>


      <script type="text/x-handlebars" data-template-name="users">
        {{view SC.Button
          title="Back" target="HC.TasksPaneView" action="show"}}
        {{view SC.Button
          title="Add User" target="HC.NewUser" action="toggle" isVisibleBinding="HC.NewUser.isInvisible"}}

        <div class="pagination">
          {{view SB.PreviousButton target="HC.UsersList"}}
          {{view SB.NextButton target="HC.UsersList"}}
        </div>

        {{#view HC.NewRecordView contentBinding="HC.NewUser"}}
          <div class="fields">
            {{#view SC.View isVisibleBinding="content.isError" messageBinding="content.errorMessage"}}
              <div class="error">{{message}}</div>
            {{/view}}
            {{view HC.TextField valueBinding="content.username" title="Username..."}}
            {{view HC.TextField type="email" valueBinding="content.email_address" title="Email..."}}
            {{view HC.TextField type="password" valueBinding="content.password" title="Password..."}}
            {{view HC.TextField type="password" valueBinding="content.confirm_password" title="Confirm Password..."}}
            {{view HC.Checkbox title="Admin" valueBinding="content.enabled"}}
          </div>
          <div class="buttons">
            {{view UI.Button title="Cancel" targetBinding="content" action="toggle"}}
            {{view UI.Button title="Save" targetBinding="content" action="save"}}
          </div>
        {{/view}}

        {{#collection HC.UsersCollection}}
          {{#view HC.RecordView contentBinding="content"}}
            <div class="content">
              {{content.username}}<br/>
              {{content.email_address}}
            </div>
            {{view UI.Button title="Destroy" targetBinding="content" action="destroy"}}
            {{view UI.Button title="Edit" targetBinding="content" action="toggle"}}
          {{/view}}
          {{#view classNames="hc-edit-record" isVisibleBinding="content.isEditing" contentBinding="content"}}
            <div class="fields">
              {{#view SC.View isVisibleBinding="content.isError" messageBinding="content.errorMessage"}}
                <div class="error">{{message}}</div>
              {{/view}}
              {{view HC.TextField valueBinding="content.username" placeholder="Username..."}}
              {{view HC.TextField type="email" valueBinding="content.email_address" placeholder="Email..."}}
              {{view HC.TextField type="password" valueBinding="content.password" placeholder="Password..."}}
              {{view HC.TextField type="password" valueBinding="content.confirm_password" placeholder="Confirm Password..."}}
              {{view HC.Checkbox title="Admin" valueBinding="content.enabled"}}
            </div>
            <div class="buttons">
              {{view UI.Button title="Update" targetBinding="content" action="update"}}
              {{view UI.Button title="Cancel" targetBinding="content" action="cancel"}}
            </div>
          {{/view}}
        {{/collection}}
      </script>
  body
    header
      h1 ="HTTP Cron"

      div id="description" A ruby server to cron http requests
      a href="https://github.com/parisrb/httpcron" Website
    .main[role="application"]
    footer
