<div>
  {{view HttpCron.LoginTextField
    valueBinding="content.username"
    placeholder="Username..."}}
</div>
<div>
  {{view HttpCron.LoginTextField
    type="password"
    valueBinding="content.password"
    placeholder="Password..."}}
</div>
<div>
  {{view JUI.Button label="LogIn" target="HttpCron.User" action="login"}}
</div>
